<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BROWSE RECIPES PAGE</title>
</head>
<body>
    <h1>BROWSE RECIPES</h1>
    {% for recipe in recipes %}
        <h1>{{ recipe.name }}</h1>
        <p>Ingredients List:</p>
        <p>
            {% for ingredient in recipe.ingredients %}
            {{ ingredient }}, <br>
            {% endfor %}
        </p>
        <p>Prep time: {{ recipe.prep_time }}</p>
        <p>Total time: {{ recipe.total_time }}</p>
    {% endfor %}
</body>
</html>
